<!-- NAVBAR
================================================== -->
<header class="container-fluid">
      <!-- Static navbar -->
      <nav class="navbar navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% picture icon barcamp4-logo.png %}Barcamp Canterbury</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
		{% sorted_for p in site.pages sort_by:weight %}
			{% if p.weight == 0 %}

			{% else %}
			{% capture d %}{{ p.url | dir }}{% endcapture %}
			{% capture f %}{{ p.url | basename }}{% endcapture %}
			{% if d == "/" or (f == "index.html") %}
					{% if page.title == p.title %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					{% if f == "index.html" %}
					<a href="{{ site.url }}{{ d }}">{{ p.title }}</a>
					{% else %}
					<a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a>
					{% endif %}
					</li>
				{% endif %}
			{% endif %}
		{% endsorted_for %}


            </ul>
            <ul class="nav nav-pills navbar-right">
		    <li class="active"><button class="btn btn-default navbar-btn btn-success" type="button" onclick="location.href='/tickets'">Tickets!</button></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</header>
