5
<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Barcamp Canterbury</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
		{% sorted_for p in site.pages sort_by:weight %}
			{% if p.weight == 0 %}

			{% else %}
			{% capture d %}{{ p.url | dir }}{% endcapture %}
			{% capture f %}{{ p.url | basename }}{% endcapture %}
			{% if d == "/" or (f == "index.html") %}

					{% if page.title == p.title %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endsorted_for %}
		<!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>

                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
		-->
              </ul>
	     <ul class="navbar-form navbar-right">
		    <button class="btn btn-success" onclick="location.href='/tickets'">Tickets!</button>
             </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
