/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* For attributing images from other sources  */
.carousel-atr {
    text-align: right;
    position: absolute;
    width: 100%;
    z-index: 20;
}

@media (max-width: 900px) {
    .carousel-atr {
	text-align: center;
	margin-top: 15px;
    }
}
@media (min-width: 901px) {
    .carousel-atr {
	text-align: right;
	margin-top: 0px;
    }
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #F0F0F0;
  overflow: hidden;
  text-align: center;
}

.carousel-inner > .item > #logo {
    padding-top: 76px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 400px;
  /*padding-top:76px;*/
}

@media (max-height: 630px) and (min-width: 1024px) {
    .carousel {
	height: 320px;
    }
    .carousel .item {
	height: 320px;
    }
    .btn-lg {
	padding: 12px 14px;
	font-size: 15px;
	margin-bottom: -8px;
    }
    .carousel-inner > .item > #logo {
        height: 320px;
    }
}
@media (min-height: 631px) and (min-width: 1024px) {
    .carousel {
	height: 400px;
    }
    .carousel .item {
	height: 400px;
    }
    .btn-lg {
        padding: 14px 16px;
        font-size: 20px;
        margin-bottom: none;
    }
    .carousel-inner > .item > #logo {
	height: 376px;
    }
}

/* navbar */

.navbar-wrapper {
  position: absolute;
  top: 10px;
  width: 100%;
}

.navbar-brand {
    font-size: 25px;
    vertical-align: middle;
    padding: 10px;
    padding-top: 13px;
}
.navbar-brand > img {
    margin-top: -2px;
}

.navbar-form {
  height:100%;
  margin-right: 0px;
  padding-right: 15px;
  margin-top: 8px;
}

.navbar-form button {
  height: 100%;
}

@media (min-width: 768px) {
    .navbar-form.navbar-right:last-child {
	margin-right: 15px;
    }
}

@media (max-width: 470px) {
    .navbar-brand {
	font-size: 15px;
    }
    .logo {
	width: 22px;
    }
}
@media (min-width: 471px) {
    .navbar-brand {
	font-size: 25px;
    }
    .logo {
	width: 32px;
    }
}

.container.first {
	margin-top:55px;
}

.supporters li {
    line-height: 32px;
    min-width: 100px;
    min-height: 32px;
    margin: 5px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.supporters img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.featurette-atr {
    text-align: right;
}
.featurette-heading {
    color: #ED8E09;
}
.img-header {
    max-width: 100%
}
@media (max-width: 900px) {
    .img-header {
	margin-top: 75px;
    }
    .carousel {
        height: 400px;
    }
    .carousel .item {
        height: 400px;
    }
}
@media (min-width: 901px) {
    .img-header {
	margin-top: 0px;
    }
}

body    {overflow-y:scroll;}
